<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-sm d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-2 text-white text-center">
                <i class="ni ni-book-bookmark ni-1x"></i> Note
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 offset-md-3">
              <button
                class="btn btn-block btn-warning mb-3"
                (click)="openDialog()"
              >
                Add Note
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section section-lg pt-lg-0 mt--200">
    <div class="col-lg-12">
      <div class="row row-grid">
        <div
          class="col-lg-3 col-md-6"
          *ngFor="let note of notes; let i = index"
        >
          <div
            class="modal-content card-lift--hover"
            style="margin-bottom: 30px"
          >
            <div class="modal-header">
              <div class="col-md-10 title-note">
                <span>{{ note.author }}</span
                ><br />
                <span>{{ note.createdDate }}</span>
              </div>
              <div class="col-md-1 title-note" style="text-align: right">
                <a
                  href="javascript:void(0)"
                  class="modal-title"
                  (click)="setActiveNote(note, i); editDialog()"
                  ><i class="fas fa-edit" style="padding-right: 10px"></i
                ></a>
              </div>
              <div class="col-md-1 title-note" style="text-align: right">
                <a
                  href="javascript:void(0)"
                  class="modal-title"
                  (click)="setActiveNote(note, i); deleteCurrentNote()"
                  ><i class="fas fa-trash-alt"></i
                ></a>
              </div>
            </div>
            <div class="modal-body">
              <div class="py-3 title-note">
                <p>{{ note.content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
